# Python bytecode, quel que soit son emplacement
__pycache__/
*.py[cod]
*$py.class

.venv/*
.vscode/*
data/*

datasets/*
models/*
saved_models/
saved_models/*
exemples/nt_toolbox/*

exemples/datasets/
exemples/generated_data/
exemples/saved_models/
img/*
outputs/*
wheelhouse/*

analyse_reslutat/res/
doc/presentation/model/
generated/
wsgm_natural_images/

wavelet_score_based_generative-Supplementary Material/

lib/Phy

doc/poster_template

# Latex Files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
*.nav
*.out
*.snm
*.toc
*.synctex.gz
install-tl-20260611/

cea/__pycache__/output.cpython-39.pyc
