__pycache__/*
*/__pycache__/*
.venv/*
.vscode/*
data/*
datasets/*
models/*
exemples/nt_toolbox/*
doc/*
img/*

# Latex Files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz

cea/__pycache__/output.cpython-39.pyc
