__pycache__/*
*/__pycache__/*
.venv/*
.vscode/*
data/*
datasets/*
models/*
exemples/nt_toolbox/*

exemples/datasets/
img/*
outputs/*
wheelhouse/*

analyse_reslutat/out/
analyse_reslutat/res/

# Latex Files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
install-tl-20260611/

cea/__pycache__/output.cpython-39.pyc
